*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header{
    background-color: rgb(70, 255, 19);
    color: black;
    text-align: center;
    padding:25px 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    font-family:Verdana, sans-serif;
}

header h1{
    font-weight:650;
    font-size:35px;
    margin-bottom:15px;
}

section{
    margin-top:30px;
    margin-bottom:40px;
}

.nav a{
    text-decoration:none;
    padding:10px 20px;
    font-size:20px;
    font-weight:300;
    color:black;
}

img{
    border: 5px solid brown;
    border-radius:50%; 
    height: 200px;
    width: 200px;    

}

#backtop{
    position:fixed;
    bottom:30px;
    right:30px;
    color:white;
    background-color: blue;
    border:2px solid black;
    padding:12px 24px;
    border-radius:8px;
    text-decoration:none;
}

div{
    text-align:center;
}

ul{
    margin-left:auto;
    margin-right:auto;
    width:500px;
}

table{
    margin-left:auto;
    margin-right:auto;
    border-color:orangered;
    width:600px;
}

th{
    background-color: grey;
    color:black;
    padding:12px;
}

td{
    padding:12px;
}

button{
     margin-left:auto;
    margin-right:auto;
    background-color: blue;
    color:white;
    padding:12px 24px;
    border-radius:8px;
    border:2px solid black;
    font-size:16px;
}

form table{
    margin-left:auto;
    margin-right:auto;
    border:2px solid blue;
    padding:20px;
}

form td{
    padding:10px;
}

footer{
    background-color: purple;
    color:white;
    height:30px;
}